# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "org.glassfish.jersey:jersey-bom"
        versions: [">=3.0.0"]
      - dependency-name: "jakarta.activation:jakarta.activation-api"
        versions: [">=2.0.0"]
      # Newer versions require code changes in GitLab plugin
      - dependency-name: "org.jboss.resteasy:resteasy-client"
        versions: [">=4.0.0"]
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
